// used by generic
$fonts: (
	(
		name: 'Ranua',
		path: '../fonts/Ranua-Demi',
		weight: 500,
		style: normal,
		display: swap,
		localnames: (
			'Ranua',
			'Ranua-Demi',
			'RanuaDemi'
		)
	),
	(
		name: 'Aeonik',
		path: '../fonts/Aeonik-Regular',
		weight: 400,
		style: normal,
		display: swap,
		localnames: (
			'Aeonik',
			'Aeonik-Regular',
		)
	),
	(
		name: 'Aeonik',
		path: '../fonts/Aeonik-Medium',
		weight: 500,
		style: normal,
		display: swap,
		localnames: (
			'Aeonik-Medium',
		)
	),
	(
		name: 'Aeonik',
		path: '../fonts/Aeonik-Bold',
		weight: 700,
		style: normal,
		display: swap,
		localnames: (
			'Aeonik-Bold',
		)
	),
);
