.c-buildingbackgroundedintro {
	$_this: &;

	&__bigsection {
		@include mq-down(sm) {
			padding-bottom: 20%;
		}
		@include mq(md) {
			padding-top: 75px;
		}

		&-richtext {
			@include fzlh(18px, 24px);
			@include mq(sm) {
				@include fzlh(24px, 32px);
			}
		}

		&-col {
			&-media {
				.is-media-left & {
					@include mq-down(sm) {
						margin-left: -20px;
					}
				}

				#{$_this}__bigsection-row:first-child & {
					margin-top: -45px;
					@include mq(md) {
						margin-top: calc(-45px - 75px);
					}
				}
				#{$_this}__bigsection-row:nth-child(2) & {
					@include mq(md) {
						margin-top: -12vw;
					}
				}

				&-inner {
					#{$_this}__bigsection-row:first-child & {
						padding-bottom: percentage(722/566);
					}
					#{$_this}__bigsection-row:nth-child(2) & {
						padding-bottom: percentage(665/499);
					}
				}
			}
		}

		&-row {
			&:first-child {
				img {
					object-position: center 78%;
				}
			}
		}
	}


	&__smallsection {
		&-row {
			&:first-child {
				@include mq(lg) {
					margin-top: -100px;
				}
			}
		}

		&-col {
			&-text {
				#{$_this}__smallsection-row:first-child & {
					@include mq(md) {
						padding-top: 220px;
					}
				}
			}

			&-media {
				&-inner {
					padding-bottom: percentage(500/466);
				}
			}
		}

		&-title {
			@include fzlh(20px, 22px);
		}

		&-list {
			h3 {
				@apply font-sans;
			}
			> * + * {
				margin-top: 27px;
			}
		}
	}
}

ul {
	.o-richtext & {
		.c-buildingbackgroundedintro & {
			@include fzlh(16px, 20px);
			font-weight: 400;
		}
	}

	li {
		.o-richtext & {
			.c-buildingbackgroundedintro & {
				position: relative;
				padding-left: 1.3125rem;
				@apply py-2.5;
				@apply border-b;
				@apply border-text;
				&:before {
					@apply bg-yellow;
					content: '';
					position: absolute;
					top: .9375rem;
					width: .4375rem;
					height: .4375rem;
					border-radius: 50%;
					left: 0;
				}

				&[style*='list-style: none']:before {
					content: none;
				}
			}
		}
	}
}
