.c-contenthero {
	&__title {
		.page-updates & {
			/*! purgecss ignore current */
			max-width: 530px;
		}
		.page-about & {
			/*! purgecss ignore current */
			max-width: 720px;
		}

		&--big {
			@include fzlh(60px, 60px);
			@include mq(md) {
				@include fzlh(105.51px, 100.72px);
				letter-spacing: -2.4px;
			}
		}
	}

	&__inner {
		padding-bottom: percentage(600/1440);
		height: 0;
		min-height: 600px;
	}

	&__twobar {
		@include mq-down(sm)	{
			max-height: 100px;
		}
	}

	&__row{
		.page-updates-dynamic & {
			justify-content: normal;
			&-inner {
				@include mq(md) {
					flex: 0 0 50%;
					max-width: 50%;
					margin-left: 16.666666666666668%;
				}
			}
		}
	}

	&__twobar {
		height: 100px;
	}

	&__textcontainer {
		@include mq(1440px) {
			padding-bottom: 8.33vw; // == 120/1440 * 100vw
		}
	}
}
