.c-contenttiles {
	$_this: &;

	@include mq(md) {
		max-width: calc(994 / 1440 * 100%);
	}

	&__title {
		@include fzlh(16px, 16px);
		@include mq(sm) {
			@include fzlh(24px, 24px);
		}

		#{$_this}__tile-content-hover & {
			@include mq-down(xs) {
				display: none;
			}
		}
	}
	&__subtitle {
		@include fzlh(16px, 16px);
		@include mq(sm) {
			@include fzlh(18px, 20px);
		}
	}
	&__icon {
		svg {
			@include mq-down(xs) {
				max-height: 92px;
			}
		}
		svg, path {
			stroke: currentColor;
		}

		#{$_this}__tile-content-hover & {
			@include mq-down(xs) {
				display: none;
			}
		}
	}

	&__tile {
		&-inner {
			@include mq(sm) {
				min-height: 300px;
			}
		}

		&-content {
			@include mq(sm) {
				padding-top: 14%;
				padding-bottom: 14%;
			}
			@include mq(lg) {
				padding-top: 5%;
				padding-bottom: 5%;
			}
			@include mq(2200) {
				padding-top: 5vw;
				padding-bottom: 5vw;
			}
		}

		@include mq-down(md) {
			&:nth-child(n+5){
				order: 1;
			}
			&:nth-child(3), &:nth-child(4){
				order: 2;
			}
		}
	}

	&__text {
		@include fzlh(17px, 20px);

		#{$_this}__tile-content-hover & {
			display: block;
		}
	}
}
