.c-contenthero {
	&__title {
		.page-updates & {
			/*! purgecss ignore current */
			max-width: 700px;
		}

		&--big {
			@include fzlh(60px, 60px);
			@include mq(md) {
				@include fzlh(105.51px, 100.72px);
				letter-spacing: -2.4px;
			}
		}
	}

	&__twobar {
		@include mq-down(sm)	{
			max-height: 100px;
		}
	}

	&__bottom-container {
		&.is-use-two-bar {
			// margin-top: calc(-110px / 2);
			margin-top: calc(-100px / 2);
		}
	}

	&__row{
		.page-updates-dynamic & {
			justify-content: normal;
			&-inner {
				@include mq(md) {
					flex: 0 0 50%;
					max-width: 50%;
					margin-left: 16.666666666666668%;
				}
			}
		}
	}

	&__twobar {
		height: 100px;
	}
}
