/*! purgecss start ignore */
@import '~swiper/swiper.scss';
@import '~swiper/components/navigation/navigation.scss';
@import '~swiper/components/pagination/pagination.scss';
@import '~plyr/src/sass/plyr.scss';
/*! purgecss end ignore */

.c-contentslider {
	&__media {
		height: 330px;
		@screen sm {
			height: 480px;
		}
		@screen md {
			height: 882px;
		}
	}
	&__top {
		min-height: 90px;
	}
}
/*! purgecss start ignore */
.swiper {
	&-pagination-bullet {
		.c-contentslider & {
			background: #f9f9f9;
			opacity: 1;
		}
		&-active{
			.c-contentslider & {
				@apply bg-yellow;
			}
		}
	}

	&-button {
		&-prev, &-next {
			.c-contentslider & {
				@apply rounded-full;
				@apply w-10;
				@apply h-10;
				color: inherit;
				background: rgba(#fff, .7);
				@include mq-down(sm) {
					display: none;
				}

				&:hover, &:focus {
					background: rgba(#FFC300, .7);
				}

				&:after{
					content: '';
					@apply w-full;
					@apply h-full;
					background-size: 100%;
				}
			}
		}

		&-prev {
			.c-contentslider & {
				left: 30px;
				&:after{
					background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 29.294l-8.333-9.168L23 10.961' stroke='%23231F20' stroke-width='1.198' stroke-linecap='round'/%3E%3C/svg%3E");
				}
			}
		}
		&-next {
			.c-contentslider & {
				right: 30px;
				&:after{
					background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 29.294l8.333-9.168L17 10.961' stroke='%23231F20' stroke-width='1.198' stroke-linecap='round'/%3E%3C/svg%3E");
				}
			}
		}
	}
}

.plyr {
	&__control {
		&--overlaid {
			.c-contentslider & {
				border: 0;
				background: transparent;
				&:before {
					content: '';
					display: block;
					width: 90px;
					height: 90px;
					background-image: url('../img/play.svg');
					background-repeat: none;
					background-size: 90px;
				}
				svg {
					display: none;
				}
			}
		}
	}
}

/*! purgecss end ignore */
