@import '~swiper/swiper.scss';

.c-homehero {
	height: calc(100vh - 71px);
	@include mq(sm) {
		height: calc(100vh - 143px);
		min-height: 768px - 30px;
	}
	@include mq(md) {
		height: calc(100vh - 143px);
		min-height: 810px - 30px;
	}

	&__title{
		@include fzlh(32px, 32px);
		@include mq(sm) {
			@include fzlh(48px, 48px);
		}
		@include mq(md) {
			@include fzlh(58.86px, 50.46px);
		}
		letter-spacing: -1px;
	}

	&__fg{
		&-inner{
			padding-top: 138px;
			padding-bottom: 192px;
			@include mq(md) {
				padding-bottom: 138px;
			}
		}
	}
}
