@import '~swiper/swiper.scss';

.c-homehero {
	height: calc(100vh - 71px);
	@include mq(sm) {
		height: calc(100vh - 127px);
		min-height: 768px;
	}
	@include mq(md) {
		height: calc(100vh - 127px);
		min-height: 810px;
	}

	&__title{
		@include fzlh(60px, 74px);
		letter-spacing: -1.47273px;
		@screen md{
			@include fzlh(86.3452px, 74px);
			max-width: 556px;
		}
	}

	&__fg{
		&-inner{
			padding-top: 138px;
			padding-bottom: 138px;
		}
	}
}
