/*! purgecss start ignore */
@import '~swiper/swiper.scss';
@import '~swiper/components/navigation/navigation.scss';
@import '~swiper/components/pagination/pagination.scss';
@import '~plyr/src/sass/plyr.scss';
/*! purgecss end ignore */


.c-mediasliderwithreveallist {

	&__media {
		&-inner {
			@include mq(md) {
				padding-bottom: percentage(600/710);
			}
		}
	}

	&__child {
		.is-hovered & {
			opacity: 1;
		}
		&-item {
			$_child-item: &;
			@include fzlh(14px, 17px);

			&-icon {
				width: 7px;
				height: 7px;
				#{$_child-item}:first-child & {
					@apply top-1;
				}
			}
		}
	}

	&__item {
		@include fzlh(20px, 22px);
	}

	&__toggleicon {
		.is-hovered & {
			@apply bg-grey-dark;
			@apply text-yellow;
		}
	}
}


/*! purgecss start ignore */
.swiper {
	&-pagination-bullet {
		.c-mediasliderwithreveallist & {
			background: #f9f9f9;
		}
		&-active{
			.c-mediasliderwithreveallist & {
				@apply bg-yellow;
			}
		}
	}

	&-button {
		&-prev, &-next {
			.c-mediasliderwithreveallist & {
				@apply rounded-full;
				@apply w-10;
				@apply h-10;
				color: inherit;
				background: rgba(#fff, .7);

				@include mq-down(sm) {
					display: none;
				}

				&:after{
					content: '';
					@apply w-full;
					@apply h-full;
					background-size: 100%;
				}
			}
		}

		&-prev {
			.c-mediasliderwithreveallist & {
				left: 30px;
				&:after{
					background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 29.294l-8.333-9.168L23 10.961' stroke='%23231F20' stroke-width='1.198' stroke-linecap='round'/%3E%3C/svg%3E");
				}
			}
		}
		&-next {
			.c-mediasliderwithreveallist & {
				right: 30px;
				&:after{
					background-image: url("data:image/svg+xml,%3Csvg width='40' height='41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 29.294l8.333-9.168L17 10.961' stroke='%23231F20' stroke-width='1.198' stroke-linecap='round'/%3E%3C/svg%3E");
				}
			}
		}
	}
}
