.c-meettheteam {
	&__intro {
		max-width: 660px;
	}
	&__tile {
		&-title {
			@include fzlh(20px, 20px);
		}
		&-inner {
			min-height: 350px;
			width: calc(100% + 1px);
		}
		&-text {
			@include fzlh(16px, 20px);
		}

		.transition {
			will-change: transform, opacity;
		}
	}
}
