/** BEGIN TAILWIND **/

@tailwind base;
svg {
	display: inline-block;
}
[class*=translate-] {
	@apply transform;
}

@tailwind components;
.container-fluid {
	@include mq-down(sm) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@tailwind utilities;

.translate-y-full {
	--transform-translate-y: 101%;
}
.-translate-y-full {
	--transform-translate-y: -101%;
}

/** END TAILWIND **/
