.c-article-tile {
	&__media {
		padding-bottom: percentage(260/360);
	}

	&__meta {
		@include fzlh(13px, 15.6px);
		letter-spacing: .11px;

		.c-article-detail__related & {
			@apply text-inherit;
		}
	}

	&__title{
		@include fzlh(26px, 28px);

		.c-article-detail__related & {
			@apply text-yellow;
		}
	}

	&__text {
		@include fzlh(16px, 20px);
		color: rgba(#231F20, .5);

		.c-article-featured &,
		.c-article-detail__related & {
			@apply text-inherit;
		}
	}

	&__link {
		.c-article-detail__related &:focus,
		.c-article-detail__related &:hover, {
			@apply text-white;
		}
	}

	&__arrow {
		.c-article-detail__related & {
			@apply text-yellow;
		}
	}
}
