.c-header {
	height: 59px;
	@include mq(md) {
		height: 105px;
	}


	&__menu {
		@include mq(md) {
			max-height: 2.875rem;
		}

		.is-not-top & {
			transform: translateY(-100%);

			@include mq(md) {
				transform: none;
			}
		}


		.is-not-top.is-pinned & {
			@include mq(md) {
				transform: none;
			}
		}

		.is-menu-active.is-menu-active & {
			@include mq-down(sm) {
				transform: none;
			}
		}

		&-link {
			@include mq-down(sm) {
				@include fzlh(26.41px, 31.69px);
				letter-spacing: .25px;
			}
		}

		&-inner {
			@include mq(1921px) {
				max-width: 1600px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	/*! purgecss start ignore */
	&__logo-main {
		max-height: 35px;
		.is-not-top & {
			opacity: 0;
		}
	}
	&__logo-notontop {
		.is-not-top & {
			opacity: 1;
		}
	}
	/*! purgecss end ignore */
}

.hamburger-inner {
	&:before {
		.c-header & {
			opacity: 0;
		}
	}
}
